.right-side__bottom-left {
   background-color: lighten($bg-darkGray, 4%);
   display: flex;
   margin-bottom: 12px;
}

.right-side {
   background-color:$bg-darkGray;
}

.right-side__bottom-left__med-bottom {
   background-color: lighten($bg-darkGray, 4%);
   height: 38%;
}
.right-side__buttom-left__large {
    background-color: lighten($bg-darkGray, 6%);
}

.right-side__buttom-left__med-top {
   background-color: lighten($bg-darkGray, 8%);
}

.right-side__buttom-left__large__atSign a {
   color: #2d2d2d;
   font-family: 'Roboto';
   font-weight: 100;
   font-size: 9rem;
   position: relative;
   bottom: -38px;
   left: 40px;
   transition: all 500ms;
   text-decoration: none;
}
.right-side__buttom-left__large__atSign a:hover {
   color: #00BCD4;
}

@media screen and (max-width: 500px) {
   .right-side__bottom-left {
      width: 38%;
      float: left;
   }
   .right-side__buttom {
      display: block;
   }
   .right-side__buttom-left__large {
      border-right: 0px;
      height: 75.14px;
      padding: $s-size;
   }
   .right-side__buttom-left__med-top {
      height: 46.44px;
   }
   .right-side__bottom-left__med-bottom {
      height: 28px;
   }
   .right-side__buttom-left__med-top {
      border-bottom: 0px;
   }
   body {
   }
}