.left-side {
   background-color: $bg-darkGray;
   position: relative;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.left-BackgroundIMG img {
   transform: translateX(-30px);
   height: 48vw;
}

@media screen and (max-width: 500px) {
   .left-side {
      height: 110%;
      width: 100%;
   }
   .left-BackgroundIMG img {
      height: 100vh;
      width: auto;
      transform: translateX(0);
   }     
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
   .left-side {
      width: 100%;
   }
}