.right-side__bottom-left {
   background-color: $bg-dirtyGreen;
   display: flex;
   margin-bottom: 12px;
}

.right-side {
   background-color:$bg-darkGray;
}

.right-side__bottom-left__med-bottom {
   background-color: darken($bg-darkGray, 5%);
   height: 39%;
}
.right-side__buttom-left__large {
    background-color: darken($bg-darkGray, 10%);
}

.right-side__buttom-left__med-top {
   background-color: darken($bg-darkGray, 15%);
}

.right-side__buttom-left__large__atSign {
   color: rgb(15, 207, 0);
   font-family: 'Roboto';
   font-weight: 100;
   font-size: 9rem;
   position: relative;
   bottom: -66px;
   left: 5px;
}


@media screen and (max-width: 500px) {
   .right-side__bottom-left {
      width: 38%;
      float: left;
   }
   .right-side__buttom {
      display: block;
   }
   .right-side__buttom-left__large {
      background-color: darken($lime, 40%);
      border-right: 0px;
      height: 75.14px;
      padding: $s-size;
   }
   .right-side__buttom-left__med-top {
      background-color: darken($lime, 50%);
      height: 46.44px;
   }
   .right-side__bottom-left__med-bottom {
      background-color: darken($lime, 60%);
      height: 28px;
   }
   .right-side__buttom-left__med-top {
      border-bottom: 0px;
   }
   body {
      background-color: darken($lime, 30%)
   }
}