.left-side {
   background-color: $bg-darkGray;
   position: relative;
   justify-content: center;
   align-items: center;
   //overflow: hidden;
}

@media screen and (max-width: 500px) {
   .left-side {
      height: 100%;
      width: 100%;
   }     
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
   .left-side {
      width: 100%;
   }
}