header {
  

}

header nav {
   margin-right: 20px;
     display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

header nav a {
   text-decoration: none;
   margin: -50px 10px;
}

@media screen and (max-width: 920px) {
   header nav {
      justify-content: space-around;
   }
}