
.hero {
   position: relative;
   justify-content: center;
   text-align: center;
   min-height: 100vh;
   background-color: $light-bgcolor;
}

.hero h1 {
   font-size: $xl-font;
   font-weight: 300;
   letter-spacing: 15px;
   color: #333;
}

.hero__background-image {
  //background-image: url("/img/hero_ground.png");
}

// Right side

#home-right-side {
   position: fixed;
   top: 0;
   right: 0;
   width: 5vw;
   height: 100vh;
  
   display: flex;
   flex-direction: column;
   padding-top: 50px;
   padding-bottom: 50px;
   justify-content: space-between;
}