#home-left-side {
   position: absolute;
   top: 0;
   left: 0;
   width: 5vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   padding-top: 50px;
   padding-bottom: 50px;
   justify-content: center;
   z-index: 1000;
}

.home-left-side__text {
   font-family: 'Roboto';
   color: $whitefont;
   letter-spacing: 1px;
   line-height: 20px;
   width: 25px;
   word-wrap: break-word;
   font-size: 0.9rem;
}

.home-left-side__text a:link {
   color: $whitefont;
   text-decoration: none;
}

.home-left-side__text a:visited {
   color: $whitefont;
   text-decoration: none;
}

.home-left-side__text a:hover {
   color: $darkGray;
   text-decoration: none;
} 

.hover {
   width: 0;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.71, 0, 0.13, 1.68);
}
.hover:hover {
   background-color: $darkLime;
   color: $darkGray;
   width: 90px;
   padding: 12px 5px 12px 0px;
   cursor: pointer;
}

@media screen and (max-width: 500px) {
   #home-left-side {
      padding-left: 6px;
   }
   .home-left-side__text {
      line-height: 16px;
      width: 10px;
   }
}
