#home-left-side {
   position: absolute;
   top: 0;
   left: 0;
   width: 5vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   padding-top: 50px;
   padding-bottom: 50px;
   justify-content: center;
   z-index: 1000;
}