.contact-form {
   width: 400px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.contact-form h3 {
   font-size: 3.5rem;
   color: $darkGray;
}

.contact-form__label-name {
   font-size: 13px;
   padding-bottom: $s-size;
   padding-left: 5px;
}

.contact-form>label {
   padding-bottom: 10px;
}

.contact-form input {
   display: flex;
   padding: 0.8rem;
   font-size: 13px;
   background-color: $bg-blueGray;
   border: 0px;
   width: 200px;
   transition: width 1s;
   transition-timing-function: cubic-bezier(0.71, 0, 0.13, 1.68);
}

.contact-form input:focus {
   width: 250px;
   display: flex;
   padding: 0.8rem;
   font-size: 13px;
   background-color: $darkLime;
   border-bottom: 3px solid $bg-blueGray;
}  

.contact-form textarea {
   display: flex;
   height: 200px;
   width: 400px;
   background-color: $bg-blueGray;
}

.contact-form textarea:focus {
   width: 500px;
   transition: width 1s;
   transition-timing-function: cubic-bezier(0.71, 0, 0.13, 1.68);
   background-color: $darkLime;
   border-bottom: 3px solid $bg-blueGray;
}

.form-timer {
   position: absolute;
   top: 45.5vh;
   right: 87px;
   width: 400px;
   padding-right: $l-size;
   font-family: 'Cabin';
   font-size: 13px;
   z-index: 100;
}

.time {
   font-size: 8rem;
   font-family: 'Roboto';
   font-weight: 100;
   color: $darkGray;
}

@media screen and (max-width: 500px) {
   .form-timer {
      display: none;
   }
   .contact-form {
      width: 250px;
   }
   .contact-form h3 {
      font-family: 'Cabin';
      font-size: 3.5rem;
      margin-top: $s-size;
      margin-bottom: $s-size;
   }
   .contact-form input {
      width: 190px;
      background-color: $darkGray;
      color: $whitefont;
   }
   .contact-form input:focus {
      width: 210px;
      color: $darkBlack;
   }
   .contact-form textarea {
      width: 230px;
      background-color: $darkGray;
      color: $whitefont;
      height: 110px;
   }
   .contact-form textarea:focus {
      width: 250px;
      color: $darkBlack;
   }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
   .form-timer {
      position: absolute;
         top: 36.5vh;
         right: 11vw;
         width: 43vw;
         padding-right: $l-size;
         font-family: 'Cabin';
         font-size: 13px;
   }
   .time {
      font-size: 5rem;
   }
}