.infobars {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: $bg-blueGray;
   height: 100%;
   width: 90%;
   padding: $l-size 0 $l-size 0;
   font-family: 'Roboto';
   color: $whitefont;
   float: right;
}

.infobars>h3 {
   margin: 0 30% $m-size $l-size;
   font-size: 2.5rem;
   font-family: 'Cabin';
}

.infobars>p {
 margin: 0 $l-size $s-size $l-size;
 line-height: 25px;
}

.infocorner {
   position: absolute;
   margin-right: $l-size;
   right: 0;
   top: 0;
   font-family: 'Cabin';
   font-size: 12px;
   letter-spacing: 14px;
   width: 116px;
   text-align: right;
   word-wrap: break-word;
   line-height: 25px;
   background-color: #6f8482;
   color: $darkGray;
}



@media screen and (max-width: 500px) {
   .infobars {
      display: inline;
      margin: 0;
      box-shadow: 0px 0px 0px;
      width: 100%;
   }
   .infobars>p {
      margin: 0 0 2rem 0;
      padding: 100px $s-size 100px $s-size;
   }
   .infobars>h3 {
      margin: 0 $s-size $l-size $s-size;
      letter-spacing: 4px;
      font-size: 3rem;
   }
   .darkGreen {
      background-color: #2f9e2c;
   }
   .paleGreen {
      background-color: #538751;
   }
   .paleRed {
      background-color: $paleRed;
   }

   .h3padded{
      padding-top: 32px;
   }
   
   .workinfo {
      padding-top: 0px;
   }

   .infocorner {
      display: none;
   }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
   .infobars {
      display: inline;
      width: 100%;
      margin: 0px;
      height: 100%;
   }
   .infocorner {
      display: none;
   }
}