.logo-text {
  width: 32.19%;
  height: 9%;
  position: absolute;
  right: 347px;
  bottom: 458px;
  font-family: 'Cabin';
  font-size: 6rem;
  color: #F1F1F1;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.logo-text >span {
  padding-left: 30px;
  padding-bottom: 5px;
}

.logo-text >span:nth-child(3) {
  display: inline-block;
  transform: scaleX(-1); 
  padding-right: 30px;
  filter: FlipH; 
}
.logo-text >span:nth-child(4){
   padding-left: 0px;
}

@media screen and (max-width: 500px) {
     .logo-text {
        flex-wrap: nowrap;
        font-size: 8px;
        right: 195px;
        bottom: 203px;
     }
     .logo-text >span {
        padding-left: 20px;
     }
     .logo-text >span:nth-child(3) {
        padding-right: 20px;
     }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
   .logo-text {
      width: 32.19%;
      height: 9%;
      position: absolute;
      right: 354px;
      bottom: 194px;
      font-family: 'Cabin';
      font-size: 3rem;
      color: #F1F1F1;
      text-transform: uppercase;
      display: flex;
      flex-wrap: nowrap;
      z-index: 1;
   }
}

