.menu-bar {
    position: fixed;
    right: 34.8%;
    top: 30%;
    height: 80%;
}
.menuBarToggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
}

.menuBarToggle button{
  border: 0;
  background-color: transparent;
}

.menuBarToggle h6 {
  margin: 0;
  font-size: 4rem;
  color: $lightRed;
}

.menu-bar__items {
   display: flex;
   justify-content: center;
   flex-direction: column;
   border: 2px solid $darkGray;
   cursor: pointer;
   width: 42px;
   margin-bottom: 10px;
   height: 5%;
   background-color: $light-bgcolor;
   transition: height 1s;
   transition-timing-function: cubic-bezier(0.71, 0, 0.13, 1.68);
}

.menu-bar__items:hover {
   height: 10%;
   background-color: $darkLime;
}

.menu-bar h5 {
   text-align: center;
   margin: 0px;
   font-family: 'Roboto';
}

@media screen and (max-width: 500px) {
   .menu-bar {
      background-color: $bg-white;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
  
   .menu-bar__items {
      font-size: 5rem;
      background-color: $bg-white;
      height: 12%;
      width: 100%;
      border: 0;
      margin-bottom: 0px;
   }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .menu-bar {
    background-color: $bg-white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu-bar__items {
      font-size: 5rem;
      background-color: $bg-white;
      height: 12%;
      width: 100%;
      border: 0;
      margin-bottom: 0px;
   }
}