.order-handler {
   display: flex;
}



.order-handler__field {
   padding: $s-size;
   background-color: $bg-blueGray;
   color: $whitefont;
   height: 30vh;
}

.order-handler__field:nth-child(2) {
   margin-left: 2px;
}