.order-handler {
   display: flex;
}

.order-content h3 {
   margin-bottom: 5px;
   font-family: 'Cabin';
   font-size: 3.5rem;
   color: $darkGray;
}

.order-content p {
   clear: both;
} 

.order-handler__field {
   padding: $s-size;
   background-color: $orange;
   color: $whitefont;
   height: 40vh;
   position: relative;
}

.order-handler__field:nth-child(2) {
   margin-left: 2px;
}

.order-handler__field li {
   padding-bottom: 10px;
}

.order-handler__field li:nth-child(1) {
   padding-top: 10px;
}

.order-handler__field ul {
   margin: 0px;
}

.subSelected {
   margin-bottom: $xl-size;
}

.subSelected ul {
   list-style: none;
}

.subSelected li {
   cursor: pointer;
}

.subSelected:nth-child(2) {
   position: absolute;
   right: 0;
   top: $s-size;
   width: 50%;
   height: 151px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-left: 2px solid yellow;
}

.order-handler__summery {
   background-color: red;
   padding: $s-size 0 $s-size $s-size;
   margin: 0;
}

@media screen and (max-width: 500px) {
   .order-content h3 {
      font-family: 'Cabin';
      font-size: 3.5rem;
      letter-spacing: 4px;
      margin-top: $s-size;
      margin-bottom: 10px;
   }
   .order-content p {
      margin-right: 40px;
   }
   .subSelected {
      padding-left: 0px;
      margin-bottom: 3.8rem;
   }
   .subSelected:nth-child(2) {
      padding-left: 30px;

   }
   .subSelected ul {
      list-style: none;
      padding-left: 0px;
      font-size: 13px;
   }
   .order-handler__field {
      height: 30vh;
   }
   .order-handler__summery {
      width: 74vw;
      font-size: 13px;
   
   }
}