.project-content h3 {
   margin-bottom: 5px;
   font-family: 'Cabin';
   font-size: 3.5rem;
   color: $darkGray;
}

.project-content__projects-holder {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 79%;
   justify-content: space-between;
}

.project-content__project {
   background-color:#474747;
   height: 220px;
   margin-top: 31px;
   width: 358px;
}