.introLoader {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
}

.rev1 {
   background-color: #40BBE1;
    height: 70vh;
    width: 20vw;
    position: absolute;
    animation-name: scaleOne;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
    animation-delay: 1s;

}

@keyframes scaleOne{
   0% {
      height: 100%;
   }
   100% {
      height: 0%;
   }
}


.rev2 {
   background-color: #FCC92F;
    height: 30vh;
    width: 80vw;
    float: right;
    clear: left;
    position: absolute;
    right: 0;
    animation-name: scaleTwo;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 1400ms;
    transition-timing-function: ease-in-out;
}

@keyframes scaleTwo{
   100% {
      width: 0%;
   }
}

.rev3 {
   background-color: #FF002C;
    height: 70vh;
    position: absolute;
    right: 0px;
    bottom: 0vw;
    width: 20vw;
    animation-name: scaleThree;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 1200ms;
    transition-timing-function: ease-in-out;
}

@keyframes scaleThree {
   100% {
      height: 0%;
   }
}

.rev4 {
   background-color: #0F2542;
    width: 80vw;
    height: 30vh;
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: scaleFour;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 1600ms;
    transition-timing-function: ease-in-out;
}

@keyframes scaleFour {
   100% {
      width: 0%
   }
}

.rev5 {
   background-color: white;
    height: 40vh;
    width: 60vw;
    position: absolute;
    right: 20vw;
    top: 14.45vw;
    animation-name: scaleFive;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;
    transition-timing-function: ease-in-out;
}

@keyframes scaleFive {
   100% {
      width: 0%
   }
}

