body {
   background-color: #2d2d2d;
}

.projectContainer {
   width: $base;
   display: flex;
}

.projectContent-Left {
   width: $gld10;
   background-color: #232323;
}

.projectContent-Right {
   width: $gld9;
   background-color: darken(#2d2d2d, 5%)
}

.projectContent-Right ul {
   list-style: none;
   padding: 0;
}

.projectContent-Right li {
   padding: 5px;
}

.projectContent-Right a:link {
   color: $lightRed;
}

.projectContent-Right a:visited {
   color: $lightRed;
}

.row {
   width: $base;
   display: flex;
   padding: $s-size $l-size $s-size $l-size;
}

.projectContainer h2 {
   font-family: 'Cabin';
   font-size: 6rem;
   color: $lightRed;
}

.projectContainer ul {
   color: white;
}

.projectNav li:nth-child(1) {
   font-size: 3rem;
   padding-bottom: 5px;
}

.projectNav {
}

@media screen and (max-width: 500px) {
   .projectContainer {
      flex-direction: column;
   }
   .projectContent-Left {
      width: $base;
   }
   .projectContent-Right {
      width: $base;
   }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
   .projectContainer {
      flex-direction: column;
   }
   .projectContent-Left {
      width: $base;
   }
   .projectContent-Right {
      width: $base;
   }
}