*,
*:after,
*::before {
   box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: $m-size;
  background-color: $bg-white;
}

.container {
   padding: 80px;
}

a,
button {
		cursor: pointer;
}

button:disabled {
	cursor: default;
}

