.PageAppear-appear {
   opacity: 0;
   
}

.PageAppear-appear.PageAppear-appear-active {
   opacity: 1;
   transition: all 1s ease-out;
}


$A-duration: 700ms;

.loader {
   height: 100vh;
   width: 100%;
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: row;
}

@keyframes subOne {
   0% {
      height: 100%;
   }
   100% {
      height: 0%;
   }
}

.loader__subOne {
   width: 33.33%;
   background-color: #0E0E0E;
   animation-name: subOne;
   animation-delay: 1s;
   animation-duration: $A-duration;
   animation-fill-mode: forwards;
   transition-timing-function: cubic-bezier(0.525, -0.005, 0.225, 1.000);
}

@keyframes subTwo {
   0% {
      height: 100%;
   }
   100% {
      height: 0%;
   }
}

.loader__subTwo {
   width: 33.33%; 
   background-color: #0E0E0E;
   animation-name: subTwo;
   animation-duration: $A-duration;
   animation-delay: 1.022s;
   animation-fill-mode: forwards;
   transition-timing-function: cubic-bezier(0.525, -0.005, 0.225, 1.000);

}

@keyframes subThree {
   0% {
      height: 100%;
   }
   100% {
      height: 0%;
   }
}

.loader__subThree {
   width: 33.33%;
   margin-left: 1px;
   background-color: #0E0E0E;
   animation-name: subThree;
   animation-duration: $A-duration;
   animation-delay: 1.05s;
   animation-fill-mode: forwards;
   transition-timing-function: cubic-bezier(0.980, 0.005, 1.000, 1.090);
}