// Colors
$light-bgcolor: #F1F1F1;
$darkBlack: #1b1b1b;
$darkGray: #333;

//Background color palate 
$bg-white: #FCFEFE;
$bg-teal: #A9EEE6;
$bg-light: #FEFAEC;
$bg-red: #F38181;
$bg-dark:#625772;


//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;

// Font size
$xl-font: 4.5em;
$m-font: 2em;
$ms-font: 1.8em;

// Line height
$s-line: 1.2em;
$m-line: 1.5em;
$l-line: 2em;