// Colors
$light-bgcolor: #F1F1F1;
$whitefont:#FCFFF5;
$darkBlack: #1b1b1b;
$darkGray: #333;
$lightLime: #E5FF80;
$darkLime: #DDFF55;
$lime: #a3ff9c;
$dirtyGreen: #AAD400;
$baseBlue: #258fcb;
$lightRed: #ce5d5f;


// Orange
$orange: #FF9800;
$lightOrange: lighten($orange, 20%);

// Greens

$darkGreen: #2f9e2c;
$paleGreen: #538751;

// Reds

$paleRed: #cf6d6d;

//Background color palate 
$bg-white: #FCFEFE;
$bg-darkGray: #232323;
$bg-blueGray: #2d2d2d;
$bg-lightLime: #E5FF80;
$bg-darkLime: #DDFF55;
$bg-dirtyGreen: #AAD400;
$bg-dirtyGreenLight: lighten($bg-dirtyGreen, 20%);



//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;

// Font size
$xl-font: 4.5em;
$m-font: 2em;
$ms-font: 1.8em;

// Line height
$s-line: 1.2em;
$m-line: 1.5em;
$l-line: 2em;

//Font Family

$Roboto: 'Roboto';