// Colors
$light-bgcolor: #F1F1F1;
$darkBlack: #1b1b1b;
$darkGray: #333;
$lightLime: #E5FF80;
$darkLime: #DDFF55;
$dirtyGreen: #AAD400;

//Background color palate 
$bg-white: #FCFEFE;
$bg-darkGray: #333;
$bg-lightLime: #E5FF80;
$bg-darkLime: #DDFF55;
$bg-dirtyGreen: #AAD400;
$bg-dirtyGreenLight: lighten($bg-dirtyGreen, 20%);



//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;

// Font size
$xl-font: 4.5em;
$m-font: 2em;
$ms-font: 1.8em;

// Line height
$s-line: 1.2em;
$m-line: 1.5em;
$l-line: 2em;

//Font Family

$Roboto: 'Roboto';